@model GoldAlliance.Models.AccountInterestViewModel

@{
    ViewBag.Title = "Account Interest";
}

<h2>Calculations</h2>

<p>Calculations are done with the Simple Interest Formula</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountInterest)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.AccountInterest)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
